In [1]:
# Pyspark dataframes
# filter operations
# &,|.==.
# ~

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dataframe").getOrCreate()

In [3]:
df_pyspark = spark.read.csv('basic_data.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+----+----------+
|   NAME| AGE|EXPERIENCE|
+-------+----+----------+
| Swapil|  27|       1.0|
|Neelesh|  28|       2.0|
|  Sukhi|  27|       3.0|
| Aditya|  26|      NULL|
|   NULL|  28|       4.0|
|   NULL|  35|       2.0|
|  Rohit|NULL|       4.0|
+-------+----+----------+

In [6]:
### Filter operations

In [9]:
df_pyspark.filter("Experience>=2").select(['Name','Age']).show()

+-------+----+
|   Name| Age|
+-------+----+
|Neelesh|  28|
|  Sukhi|  27|
|   NULL|  28|
|   NULL|  35|
|  Rohit|NULL|
+-------+----+

In [11]:
# two diff conditions
df_pyspark.filter((df_pyspark["Experience"]>=2) & (df_pyspark["EXPERIENCE"]<=3  )).show()

+-------+---+----------+
|   NAME|AGE|EXPERIENCE|
+-------+---+----------+
|Neelesh| 28|       2.0|
|  Sukhi| 27|       3.0|
|   NULL| 35|       2.0|
+-------+---+----------+

In [13]:
df_pyspark.filter(~(df_pyspark['EXPERIENCE']>=3)).show()

+-------+---+----------+
|   NAME|AGE|EXPERIENCE|
+-------+---+----------+
| Swapil| 27|       1.0|
|Neelesh| 28|       2.0|
|   NULL| 35|       2.0|
+-------+---+----------+

In [14]:
# aggregate function

In [16]:
df_pyspark2 = spark.read.csv('basic_data2.csv', header=True, inferSchema=True)
df_pyspark2.show()

+---------+-------------+------+
|     Name|   Department|salary|
+---------+-------------+------+
|    krish| Data Science| 10000|
|    krish|          IOT|  5000|
|   Mahesh|     Big Data|  4000|
|    krish|     Big Data|  4000|
|   Mahesh| Data Science|  3000|
|Sudhanshu| Data Science| 20000|
|Sudhanshu|          IOT| 10000|
|Sudhanshu|     Big Data|  5000|
+---------+-------------+------+

In [18]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [20]:
# groupby
# group to find max salary
df_pyspark2.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [25]:
# group for max salary based on department
df_pyspark2.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|          IOT|    2|
| Data Science|    1|
|     Big Data|    3|
| Data Science|    2|
+-------------+-----+

In [29]:
# directly applying aggregate functions
df_pyspark2.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      61000|
+-----------+