In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
df_pyspark = spark.read.csv('basic_data.csv')

In [6]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   NAME|AGE|
| Swapil| 27|
|Neelesh| 28|
|  Sukhi| 27|
+-------+---+

In [7]:
df_pyspark = spark.read.option('header','true').csv('basic_data.csv')

In [8]:
df_pyspark.show()

+-------+---+
|   NAME|AGE|
+-------+---+
| Swapil| 27|
|Neelesh| 28|
|  Sukhi| 27|
+-------+---+

In [10]:
df_pyspark.head()

Row(NAME='Swapil', AGE='27')

In [11]:
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: string (nullable = true)

In [20]:
# READ DATASET 2
df_pyspark = spark.read.option('header','true').csv('basic_data.csv',inferSchema = 'True')

In [21]:
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)

In [23]:
df_pyspark = spark.read.csv('basic_data.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   NAME|AGE|EXPERIENCE|
+-------+---+----------+
| Swapil| 27|         1|
|Neelesh| 28|         2|
|  Sukhi| 27|         3|
+-------+---+----------+

In [27]:
df_pyspark.head(3)

[Row(NAME='Swapil', AGE=27, EXPERIENCE=1),
 Row(NAME='Neelesh', AGE=28, EXPERIENCE=2),
 Row(NAME='Sukhi', AGE=27, EXPERIENCE=3)]

In [31]:
# selecting and showing columns
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
| Swapil|         1|
|Neelesh|         2|
|  Sukhi|         3|
+-------+----------+

In [33]:
# data types
df_pyspark.dtypes

[('NAME', 'string'), ('AGE', 'int'), ('EXPERIENCE', 'int')]

In [36]:
df_pyspark.describe().show()

+-------+-------+------------------+----------+
|summary|   NAME|               AGE|EXPERIENCE|
+-------+-------+------------------+----------+
|  count|      3|                 3|         3|
|   mean|   NULL|27.333333333333332|       2.0|
| stddev|   NULL|0.5773502691896258|       1.0|
|    min|Neelesh|                27|         1|
|    max| Swapil|                28|         3|
+-------+-------+------------------+----------+

In [44]:
# adding column in dataframe
df_pyspark2 = df_pyspark.withColumn('Experience after 2 year', df_pyspark['Experience']+2)
df_pyspark2.describe().show()

+-------+-------+------------------+----------+-----------------------+
|summary|   NAME|               AGE|EXPERIENCE|Experience after 2 year|
+-------+-------+------------------+----------+-----------------------+
|  count|      3|                 3|         3|                      3|
|   mean|   NULL|27.333333333333332|       2.0|                    4.0|
| stddev|   NULL|0.5773502691896258|       1.0|                    1.0|
|    min|Neelesh|                27|         1|                      3|
|    max| Swapil|                28|         3|                      5|
+-------+-------+------------------+----------+-----------------------+